Test LA/Reset-AD-Password.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Reset_AD_Password_SecHQ_name": {
            "defaultValue": "Reset-AD-Password-SecHQ",
            "type": "String"
        },
        "connections_azuresentinel_4_externalid": {
            "defaultValue": "/subscriptions/c3250fdf-0931-4395-94cc-7ca1ba4ac0c2/resourceGroups/SecurityHQ-POV/providers/Microsoft.Web/connections/azuresentinel-4",
            "type": "String"
        },
        "connections_azuresentinel_1_externalid": {
            "defaultValue": "/subscriptions/c3250fdf-0931-4395-94cc-7ca1ba4ac0c2/resourceGroups/SecurityHQ-POV/providers/Microsoft.Web/connections/azuresentinel-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Reset_AD_Password_SecHQ_name')]",
            "location": "westeurope",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Reset-AADUserPassword",
                "hidden-SentinelTemplateVersion": "1.1"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_Accounts": {
                            "runAfter": {
                                "Set_variable_-_password": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "HTTP_-_reset_a_password": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>Users Password has been reseted</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "HTTP_-_reset_a_password": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "ac146d39-40f3-46e8-871e-7423abf086e0",
                                            "secret": "hLk8Q~2wWb_0IsNG6_aGLo7FCsWUnUGOr__zSdnv",
                                            "tenant": "15813f7f-44bc-4e8f-bab1-29b341c4f66f",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": {
                                            "passwordProfile": {
                                                "forceChangePasswordNextSignIn": false,
                                                "forceChangePasswordNextSignInWithMfa": false,
                                                "password": "@{variables('Password')}"
                                            }
                                        },
                                        "headers": {
                                            "Content-type": "application/json"
                                        },
                                        "method": "PATCH",
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['AccountName'], '@', items('for_each')?['UPNSuffix'])}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Password",
                                        "type": "String",
                                        "value": "null"
                                    }
                                ]
                            }
                        },
                        "Set_variable_-_password": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Password",
                                "value": "@{concat('G',substring(guid(),0,20))}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_4_externalid')]",
                                "connectionName": "azuresentinel-4",
                                "id": "/subscriptions/c3250fdf-0931-4395-94cc-7ca1ba4ac0c2/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                            },
                            "azuresentinel_1": {
                                "connectionId": "[parameters('connections_azuresentinel_1_externalid')]",
                                "connectionName": "azuresentinel-1",
                                "id": "/subscriptions/c3250fdf-0931-4395-94cc-7ca1ba4ac0c2/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                            }
                        }
                    }
                }
            }
        }
    ]
}